# npm stuff
node_modules
*.tgz

# build results
bin
**/dist/*

# but not these
!dist/dummy.js
!dist/dummy.d.ts

# temp rubbish
temp
tests/result

# results of media conversions
*.avif
*.webp

# medi cache
**/.cache
**/.cache.json
