# npm stuff
node_modules
*.tgz

# build results
bin
**/dist/*

# temp rubbish
temp
tests/result

# results of media conversions
*.avif
*.webp

# media cache
**/.cache
**/.cache.json

# deno stuff
**/deno.lock
